.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
    width: 100%;
}

.title{
    font-size: 5vw;
    font-family: 'Noto Serif', serif;
    text-transform: uppercase;
}

.input{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.selectLang{
    width: 40%;
}

.searchWord{
    width: 40%;
}

@media (max-width: 1000px){
    .header{
        height: 20vh;
    }
    .title{
        font-size: 10vw;
    }
}